[submodule "UJ-portfolio"]
	path = UJ-portfolio
	url = https://github.com/Quaternion3D/UJ-portfolio.git
[submodule "akahenry"]
	path = akahenry
	url = https://github.com/Quaternion3D/akahenry.git
[submodule "calSTAR"]
	path = calSTAR
	url = https://github.com/Quaternion3D/calSTAR.git
[submodule "concrastinate"]
	path = concrastinate
	url = https://github.com/Quaternion3D/concrastinate.git
