.site-wide{
	font-family: Helvetica;
}

.header{
	font-family: Calibri; 
}

.body{
	margin: 10px;
}

.navbar{
	border: 1px solid grey;
}

.navbar a{
	margin: 10px;

}


h1{
	font-size: 36px;
	font-family: Helvetica
}

#jfdi-table th{
	font-size: 24px;
}