.site-wide{
	font-family: Helvetica;
}

.profile-pic{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-right: 20px; 
} 

.header{
	font-family: Calibri; 
}

.body{
	margin: 10px;
}

.navbar{
	border: 1px solid grey;
}

.navbar a{
	margin: 10px;

}


h1{
	font-size: 36px;
	font-family: Calibri
}

h2{
	font-family: Calibri
}

#jfdi-table th{
	font-size: 24px;
	font-family: Calibri
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
